body{
	background-color:lightblue;
	text-align:center;
}
#form{

background-color:lightblue;
	width:300px;
	 margin:auto;
	 padding: 20px 10px 20px 20px;
	 

}
#field{
	font-size:18;
	padding: 10px 0px 20px 20px;
}
a{
	text-align:right;
	
}